.homepage-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.homepage-btns button {
    font-size: 30px;
    padding: 20px;
    display: inline-block;
    width: auto;
    padding: 8px 15px 15px 15px !important;
}

button * {
    font-size: 25px !important;
}