.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    transition: top 0.2s, left 0.2s;
}

.paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: rebeccapurple;
    transition: top 0.2s;
}

.paddle-left {
    left: 0;
}

.paddle-right {
    right: 0;
}

.board {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #c09090;
    margin: 20px auto;
    overflow: hidden;
    margin-top: 30px;
}